<div class="container-fluid">
    <div class="row bg-grey">
        <!-- Shopping -->
        <div class="col-4 d-none d-lg-flex">
            <ul class="list-unstyled">
                <li class="text-uppercase text-white">Shopping</li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'products' %}">All Prints</a>
                </li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'products' %}?category=black_and_white">Black and
                        White</a>
                </li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'products' %}?category=abstract">Abstract</a>
                </li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'products' %}?category=canvas">Canvas</a>
                </li>
            </ul>

        </div>
        <!-- newsletter -->
        
        <!-- Customer Care -->
        <div class="col-lg-4 col-md-6">
            <ul class="list-unstyled">
                <li class="text-uppercase text-white">Customer care</li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'return_policy' %}">Returns</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-6">
            <ul class="list-unstyled">
                <li class="text-uppercase text-white">Subscribe to our newsletter!</li>
                <li>
                    <a class=" text-decoration-none text-white" href="{% url 'newsletter' %}">Subscribe</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row footer-content bg-black">
        <!-- Social links -->
        <div class="col-12 text-end py-0">
            <ul class="socials">
                <p class="text-white pt-3">Follow us!</p>
                <li>
                    <a class="nav-link text-white" href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-square fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram-square fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="https://www.pinterest.ca/" target="_blank">
                        <i class="fab fa-pinterest-square fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-black footer-bottom pt-0 copyright">
        <!-- Copyright -->
        <div class="">
            <p class="text-uppercase text-white">Bert's Art copyright &copy;2022 Milestone 4</p>
        </div>
    </div>
</div>