{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row pt-5">
    <div class="col pt-5">
        <h2 class="text-black text-uppercase text-center">About us</h2>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-black text-uppercase pb-2 s-r-headers">A littler bit about us at Bert's Art</h3>
        </div>
        <div class="col-12">
            <h4 class="s-r-headers pt-5">Bertie</h4>
            <p>Hey im bertie, im a britished based artist focusing on abstract canvas work as well as black and white
                prints. ive been working away at this for the past seven years and hoping to inspire or at least make
                some money doing it haha!</p>>
        </div>
        <div class="col-12">
            <h4 class="s-r-headers pt-5">The company</h4>
            <p>At Bert's Art, we are convinced that the digital space is an invaluable tool for bringing what bert has
                to offer at an affordable price to the art market. a small laid back team to help bert get his art work
                out there!</p>
        </div>
    </div>
</div>

{% endblock %}