{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row pt-5">
    <div class="col pt-5">
        <h2 class="text-black text-uppercase text-center">FAQ</h2>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-black text-uppercase pb-2 s-r-headers">Your questions answered</h3>
        </div>
        <div class="col-12">
            <h4 class="s-r-headers pt-5">Shipping</h4>
            <ul class="py-5">
                <li class="py-2">
                    <p>What countries do we ship to?</p>
                    <p>- We ship to Australia, Austria, Belgium, Canada, Chile, Czech Republic, Denmark, Estonia, Faroe
                        Islands, Finland, France, Germany, Greece, Greenland, Guernsey, Hong Kong, Iceland, Ireland,
                        Israel, Italy, Japan, Jersey, Lithuania, Luxembourg, Monaco, Netherlands, New Zealand, Norway,
                        Philippines, Poland, Portugal, Reunion, Saint Barthelemy, Saint Martin (French part), Saint
                        Pierre and Miquelon, Singapore, Sint Maarten (Dutch part), Slovakia, Slovenia, South Africa,
                        South Korea, Spain, Sweden, Switzerland, Thailand, United Arab Emirates, United Kingdom, United
                        States, Venezuela.</p>
                </li>
                <li class="py-2">
                    <p>How can I check the status of my order?</p>
                    <p>- when you recieve your order number via email you will also recievea way of tracking your
                        packages!
                    </p>
                </li>
                <li class="py-2">
                    <p>What should I do if I received a damaged piece?</p>
                    <p>- We are sorry that your new piece of art came with flaws! If you received a package that is visibly
                        damaged, please make sure to check its content and refuse delivery. If you happen to discover the damage after the delivery, please contact us
                        here from the e-mail address used to place your order and send us some photos of the damage piece
                        received as well as the box so that we can help.
                    </p>
                </li>
                <li class="py-2">
                    <p>After ordered can i cancel or alter it?</p>
                    <p>- Unfortunately not however if you are unhappy with your purchase you are welcome to return it
                    </p>
                </li>
            </ul>
            <h4 class="s-r-headers pt-5">Return Policy</h4>
            <ul class="py-5">
                <li class="py-2">
                    <p>What is our returns policy?</p>
                    <p>- check out our return policy <a class=" text-decoration-none text-black" href="{% url 'return_policy' %}">Here</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}