{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row pt-5">
    <div class="col pt-5">
        <h2 class="text-black text-uppercase text-center">Return policy</h2>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-black text-uppercase pb-2 s-r-headers">Shipping and Returns</h3>
        </div>
        <div class="col-12">
            <h4 class="s-r-headers pt-5">Shipping</h4>
            <ul class="py-5">
                <li class="py-2">
                    <p>Expected delivery time is 4-6 business days. The shipping time includes manufacturing process,
                        shipping and handling.
                        All parcels are securely packed and sent by DHL or UPS courier. Every parcel has its individual
                        tracking number.
                        using your order number you can easily keep track of your delivery!</p>
                </li>
            </ul>
            <h4 class="s-r-headers pt-5">Return Policy</h4>
            <ul class="py-5">
                <li class="py-2">
                    <p>
                        You may make a return within 100 calendar days of delivery and you will receive 100% refund if the return is accepted.Returns usually take 14 days to be received and processed. When you return
                        has been processed, a refund will be issued to your original payment method,
                        this could take up to 5 business days. We will keep in touch with you along
                        the way and send you an email once it’s all done!
                    </p>
                </li>
                <li class="py-2">
                    <p>
                        If you have any questions about our return policy or shipping, please contact us through our
                        contact page.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}